@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

@import '_normalize.css';
@import 'reset';

$sticky-color: #673ab7;
$block-color: rgba(#6844b7, 0.1);
$header-footer-height: 50px;
$header-footer-padding: 10px;

body {
    background-color: #dddddd;
    background-image: url('../images/static/background.png');
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html[devmode='true'] {
    body {
        background-color: red;
        background-image: none;
    }
}

.button {
    display: inline-block;
    border: 1px solid #b7b7b7 !important;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 15px;
    cursor: pointer;
    min-height: 27px;
}
button:focus {
    outline: 0;
}

.modal__content {

    .toolbar {
        padding: 10px 0;

        display: flex;
        flex-direction: row;

        > * {
            margin-right: 10px;
        }
    }

    #tstest {
        background-color: darkolivegreen;
    }

    #tsevent {
        background-color: cornflowerblue;
        color: white;
    }
    #tsexception {
        background-color: orangered;
        color: white;
    }
}

.modal {
    // per default auf none im HTML-File
    body.loaded & {
        opacity: 1;
        transition: opacity 1.00s ease-in-out;
    }

    //height: 100%;
    //left: 0;
    //position: fixed;
    //top: 0;
    //width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start; // ↓
    align-content: space-between; // =
    align-items: flex-start; // ⇾

    &__header {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; // ⇾
        align-content: space-between; // ||
        align-items: flex-start; // ↓
    }

    &__content {
        flex-grow: 1;
        align-self: stretch;
        
        max-height: calc(100vh - (#{$header-footer-height} * 2));
        height: calc(100vh - (#{$header-footer-height} * 2));

        overflow-y: scroll;
        padding: 10px;
    }

    &__footer {
    }

    &__header,
    &__footer {
        padding: $header-footer-padding;

        line-height: $header-footer-height - ($header-footer-padding * 2);
        height: $header-footer-height;

        color: white;
        a {
            color: white;
            text-decoration: none;
        }

        background-color: $sticky-color;
    }

    &__footer {
        align-self: stretch;
        bottom: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; // ⇾
        align-content: space-between; // ||
        align-items: center; // ↓

        #app {
            color: green;
            min-width: 90px;
            display: inline-block;

            body.loading & {
                color: initial;
            }
        }

        .version_block {
            display: inline-block;
            font-size: 80%;

            .published {
                font-weight: 400;
            }
        }
        .separator {
            margin: 0 0.25em;
        }

        .devmode {
            font-weight: bold;
            color: red;
        }

        .production {
            font-weight: bold;
            color: green;
        }
    }

    button {
        min-width: 30px;
        color: #fff !important;
        /* text-transform: uppercase; */
        background: #ed3330;
        padding: 5px 10px;
        border-radius: 3px;
        display: inline-block;
        border: none;
        margin: 0 5px;

        &.add {

        }

        &.subtract {
            background-color: green;
        }
    }

}

.demo_images {
    img {
        max-height: 30px;
        border-radius: 5px;
        margin: 0 5px;
    }
}

.row {
    width: 100%;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; // ⇾
    align-content: inherit; // ||
    align-items: center; // ↓

    > .col {
        background-color: $block-color;
        margin-right: 10px;
        padding: 15px;
        border-radius: 3px;
    }
}


